@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

/* Estilo inicial */

body{
  background-color: hsl(204, 43%, 93%);
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  font-family: 'Karla', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.content div{
  padding: 40px;
}

/* Estilo da aba de descrição */

.description{
  grid-column: 1/ 3;
  background-color:white;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: white;
}

.description h1{
  color: hsl(179, 62%, 43%);
  font-size: 1.3em;
  margin-bottom: 25px;
}

.description h2{
  color: hsl(71, 73%, 54%);
  font-size: 1em;
  margin-bottom: 10px;
}

.description p{
  color: hsl(218, 22%, 67%);
}

/* Estilo da aba de inscrição */

.subscription{
  grid-column: 1 / 2;
  background-color: hsl(179, 62%, 43%);
  color: white;
  border-bottom-left-radius: 6px;
}

.subscription h4{
  font-size: 1.3em;
}

.subscription [data-price]{
  margin-top: 20px;
  font-size: 2em;
  display: inline-block;
}

.subscription [data-month]{
  color: hsl(204, 43%, 93%);
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.subscription button{
  background-color:hsl(71, 73%, 54%);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px;
  width: 18em;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in;

}

.subscription button:hover{
  box-shadow: 0 0 0.5em hsl(71, 73%, 54%);
}

/* Estilo da aba por que nós */

.aboutus{
  grid-column: 2 / 3 ;
  background-color: rgb(76, 224, 224);
  color: white;
  border-bottom-right-radius: 6px;
}

.aboutus h4{
  font-size: 1.3em;
  margin-bottom: 20px;
}

.aboutus ul li{
  color: hsl(204, 43%, 93%);
  margin-top: 4px;
}

/* Media querie mobile */
@media screen and (max-width: 680px){
  .content{
    grid-template-columns: 1fr;
  }
  
  .description{
    grid-column: 1;
  }

  .subscription{
    grid-column: 1;
    border-bottom-left-radius: 0;
  }

  .aboutus{
    grid-column: 1;
    border-bottom-left-radius: 6px;
  }

  .content div{
    max-width: 375px;
    text-align: center;
  }

  .container{
    height: 150vh;
  }
}